<footer>
    <nav>
        <a class="btn btn-primary" href="/game/score" role="button">Score</a>
        <a class="btn btn-danger" href="/game/restart" role="button">Reset</a>
    </nav>
</footer>
</html>